@font-face {
  font-family: 'tare';
  src: url('../stylesheet/huifont29.ttf') format('truetype');
}

body {
  background-image: url("../pictures/blackboard.png");
  background-repeat: no-repeat;
  background-size: 100% 120% ;
  background-color: #8F706A;
  text-align: center;
  font-family: 'tare';
}

h1 {
  color: #FFEEE7;
  text-align: center;
  font-family: 'tare';
  font-size: 40px;
  margin-top: 40px;
}

table {
  width: 80%;
  height: 250px;
  border-color: white;
  border-spacing: 0;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

tr {
  vertical-align: top;
}

td {
  border-style: solid;
  border-color: white;
  border-width: thin;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: text-top;
  z-index: 20;
  font-family: 'tare';
  font-size: 30px;
}

thead tr:nth-child(1) {
  background-color: #E3C5F0;
  color: #38582C;
}

tbody td:nth-child(n+1) {
  color: #FFEEE7;
}

tbody td:nth-child(1) {
  background-color: #E3EDC1;
  color: #38582C;
}

a {
  font-family: 'tare';
  font-size: 20px;
}

img {
  width: 30px;
  height: 30px;
}

p {
  text-align: center;
}

form {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: 'tare';
  color: #FFEEE7;
}
