body {
  background-color:#FFF6D9;
  font-family: sans-serif;
}

h1 {
  color: #EA512A;
  text-align: center;
  font-family: sans-serif;
}

table {
  width: 100%;
  height: 500px;
  border-color: #528C49;
  border-spacing: 0;
  text-align: center;
  background-color: #FFE8FF;
  font-family: sans-serif;
}

td {
  border-style: solid;
  border-color: black;
  border-width: thin;
  width: 4%;
  height: 12.5%
  text-align: center;
  vertical-align: text-top;
  z-index: 20;

}
tr {
  vertical-align: top;
  font-family: sans-serif;
}

img {
  width: 30px;
  height: 30px;
}

p2 {
  width: 30px;
  height: 20px;
}
